body {
    background-color: #4CAF50;
    font: 400 20pt TW Cen MT;
}

#logBox {
    display: inline-block;
    background-color: #F1F8E9;
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow-y: scroll;
    padding: 0 16px;
}

.grid {
    width: 40%;
    height: 40vw;
    position: absolute;
    top: 10%;
}
#human {
    left: 18%;
}
#computer {
    left: 59%;
}
.space {
    display: inline-block;
    width: 3.3vw;
    height: 3.3vw;
    vertical-align: top;
    text-align: center;
    border: thin solid black;
    align-items: center;
    font-size: 2.5vw;
}

button {
    background-color: inherit;
    font: inherit;
    border-radius: 4px;
    height: 36px;
    padding: 0px 16px;
    margin: 8px 14px;
    outline: none;
    position: absolute;
    bottom: 1%;
    right: 1%;
}
button:hover {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,.2), 0px 4px 5px 0px rgba(0,0,0,.14), 0px 1px 10px 0px rgba(0,0,0,.12);
}
button:active {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,.2), 0px 8px 10px 1px rgba(0,0,0,.14), 0px 3px 14px 2px rgba(0,0,0,.12);
}

span {
    font-size: 2vw;
}